<HTML>

<HEAD>

<TITLE>Aprendizado Spring JPA/Hibernate</TITLE>

</HEAD>  

<BODY BGCOLOR="FFFFFF">

<CENTER><IMG SRC="clouds.jpg" ALIGN="BOTTOM"> </CENTER>

<HR>

<H1>Site criado por Wellington Brito</H1>

<H2>Usando as tecnologias, {Spring Boot, JPA/Hibernate, Heroku, postgeSQL, H2}</H2>

Envie-me um e-mail para  <a href="mailto:wellingtonsantosbritos@gmail.com">

wellingtonsantosbritos@gmail.com</a>.  

<P> Possiveis requests que a aplicação suporta:

<P> <B>Get /users</B> </p>

	<p><b> Get /categories</b></p>
	<p><b> Get /orders</b></p>

<BR> <B><I>Entre outros que eu ainda não finalizei de esscrever</I></B>  

<HR>

</BODY>  

</HTML>